<div>
    <div>
        <div>{{post.name}}
            <a href='{{post.editURL}}'>Edit</a>
            <a href='{{post.deleteURL}}'>Delete</a></div>
        <div>{{post.content}}</div>
        <div>By {{post.authorName}}</div>
    </div>
</div>